.links > a:not(:last-of-type) {
  margin-right: 16px
}

.links > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #878ea1;
  font-weight: 500;
  padding: 2px 8px
}

body {
  margin: 0;
  font-family: Futura;
}
